*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  padding: 0;
  margin: 0;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: work sans, sans-serif;
}

/*CLASES UTILES COLORES*/

.bg-101010 {
  background-color: #101010;
}

.bg-181818 {
  background-color: #181818;
}

.bg-010101{
  background-color: #010101;
}

.bg-161616{
  background-color: #161616;
}

.bg-000000{
  background-color: #000000;
}

.bg-FCDA05 {
  background-color: #FCDA05;
}

.bg-1a1a1a{
  background-color: #1a1a1a;
}

.color-FCDA05{
  color: #FCDA05;
} 

.color-BOBOBO{
  color: #b0b0b0;
}

.color-white{
  color: white;
}

.color-CBCBCB{
  color: #cbcbcb;
}

.color-00000{
  color: #000000;
}

.color-515151{
  color: #515151;
}

.gap {
  gap: 1em;
}

/*CLASES UTILES ALINEACIONES*/
.flex{
  display: flex;
}

.justify-content-center{
  justify-content: center;
}

.align-items-center{
  align-items: center;
}

.cont-centrado{
display: flex;
justify-content: center;
align-items: center;
}
.column{
  flex-direction: column;
}
.text-center{
  text-align: center;
}

.position-absolute{
  position: absolute;
}

.position-relative{
  position: relative;
}

.font-apple{
  font-family: "apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.font-oswald{
  font-family: "Oswald", sans-serif;
}

.font-PT{
  font-family: 'PT Sans', sans-serif;
}

.font-PT-serif{
  font-family: 'PT Serif', sans-serif;
}

.font-sans{
  font-family: "Work Sans", sans-serif;
}

.width-80 {
  max-width: 1200px; /* límite opcional para pantallas grandes */
  width: 80%;
  margin: 0 auto;    /* centra horizontalmente */
  padding: 0 1rem;  
}

.uppercase{
  text-transform: uppercase;
}

.contenedormenu {
  font-family: "work sans";
  justify-content: space-between;
  padding: 2em 9em;
}

.logo {
  height: 2.5vh;
  width: auto; /*calcula automáticamente el ancho del elemento según su contenido */
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 2.6em;
  margin: 0;
  padding: 0;
}

.navbar a {
  font-size: 0.8em;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  color: #BFBFBF;
}

#herobanner {
  background-image: url("../images/home/demo-dark-creative-agency-header.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

#herobanner h2,
#herobanner .botonbanner {
  position: absolute; /* los coloca encima de la imagen */
  font-family: "Oswald", sans-serif;
  left: 10%; /* margen desde el borde izquierdo */
  text-transform: uppercase;
}

/* títulos individuales (para separarlos visualmente) */
#herobanner h2:nth-of-type(1) {
  top: 20%;
  font-size: 3em;
}

#herobanner h2:nth-of-type(2) {
  top: 30%;
  font-size: 3em;
}

#herobanner h2:nth-of-type(3) {
  top: 40%;
  font-size: 3em;
}

.botonbanner {
  padding: 1.3em 3em;
  border: none;
  position: absolute;
  cursor: pointer;
  top: 60%;
  transition: all 0.3s ease;
  font-size: 0.8em;
  font-weight: 500;
  transition: all 0.3s ease;
  text-decoration: none;
  letter-spacing: .1em;
}

.botonbanner:hover {
  background-color: #010101;
  border: 1px solid #ffffff;
  color: white;
}

#newbranding {
  height: 100vh;
  width: 100%;
  display: grid;
  align-content: center;
  justify-items: start; /*se alinean los elementos dentro de sus columnas */
}

#newbranding p,
#newbranding a {
  grid-column: 2 / 3;  /* asegura que todos los elementos inicien en la segunda columna  */
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  margin-bottom: 1em;
  transition: all 0.3s ease;
}

#newbranding a {
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  transition: all 0.3s ease;
  padding: 1em 3em 1em 3em;
  border: 2px solid white;
  transition: all 0.3s ease;
}

#newbranding h2 {
  font-weight: 600;
  font-size: 2em;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  margin-left: 8em;
}

#newbranding p {
  max-width: 340px;
}


#newbranding a:hover {
  background-color: #FCDA05;
  border: 2px solid #FCDA05;
  color: #000;
}

.galeria {
  flex-direction: column;
}

.galeria h2 {
  font-size: 1.5em;
}

.galeria-img {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.galeria-img article {
  width: 50%;
  height: 500px;
}

.gallery-item {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 1.2em;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  /* izquierda */
  justify-content: flex-end;
  /* abajo */
}

.imagen {
  filter: brightness(0.80);
}

.letra-hover {
  font-size: 10em;
  font-weight: 800;
  opacity: 0;
  /* inicialmente invisible: se muestra en el hover */
  transition: opacity .25s ease .1s,
    transform .25s ease .1s;
}

.contenedor-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

/* hover: zoom + oscurecer + cambiar texto por letra */
.gallery-item article:hover .imagen {
  transform: scale(1.08);
  /* hace zoom suave de la foto al pasar el mouse por el artículo */
}

.galeria-img article:hover .letra-hover {
  opacity: 1;
}

.galeria-img article:hover h2,
.galeria-img article:hover h5 {
  opacity: 0;
}

.view-more-works {
  width: 100%;
  height: 80px;
  justify-content: center;
  display: block;
  /* para que ocupe toda la línea */
  text-align: center;
  /* centra el texto dentro */
}

.view-more-works a {
  font-size: 1em;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
}

.titulo-grilla {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5em;
  font-family: "Oswald", sans-serif;
  margin-bottom: 60px;
}

.grilla-iconos {
  padding: 80px 0;
}

.contenedor-iconos {
  display: flex;
  flex-wrap: wrap;
  /*bajen los artículos en pantallas más chicas */
  justify-content: space-between;
  /* centra horizontalmente */
  align-items: center;
  /* alinea los íconos en la parte superior */
  /* gap: 80px 100px;                espacio entre filas y columnas */
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.contenedor-iconos article {
  width: 30%;
  /* tamaño fijo por ítem (ajustable) */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4em;
}

.contenedor-iconos article:hover .iconos i {
  color: #FCDA05;
  transform: translateY(-8px);
}

.texto-iconos h2 {
  font-size: 1em;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 500;
}

.texto-iconos h5 {
  font-size: 0.8em;
  font-weight: 300;
}

.iconos i {
  font-size: 100px;
  /*tamaño del ícono */
  color: #515151;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

@media (max-width: 900px) {
  .contenedor-iconos article {
    width: 48%;
  }
}

@media (max-width: 600px) {
  .contenedor-iconos {
    flex-direction: column;
    align-items: center;
  }

  .contenedor-iconos article {
    width: 80%;
  }
}

.video {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container-video iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* clave para que ocupe todo */
}

.play-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-circle {
  width: 170px;
  height: 170px;
  border: 3px solid #b0b0b0;
  border-radius: 50%;
  position: absolute;
}

.play-icon {
  font-size: 1.4em;
  z-index: 2;
}

.banner-numeros {
  padding: 80px 0;
  display: flex;
  flex-wrap: wrap;
  /* Permite varias filas en pantallas pequeñas */
  justify-content: center;
  /* Centra los artículos */
  align-items: center;
  gap: 40px;
  /* Espacio entre los bloques */
  text-align: center;
}


.sectores-numeros {
  flex: 1 1 200px;
  /* Que ocupen el espacio disponible */
  max-width: 250px;
}

.numeros {
  font-size: 2.5em;
  font-weight: 400;
  margin-bottom: 10px;
}

.texto-data {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 300;
  letter-spacing: 1px;
}

@media (max-width: 900px) {
  .banner-numeros {
    gap: 50px;
  }

  .numeros {
    font-size: 2.6em;
  }
}

@media (max-width: 600px) {
  .banner-numeros {
    flex-direction: column;
    gap: 40px;
  }
}

/* contenedor del fondo y el espacio */
.slider {
  position: relative;
  text-align: center;
  padding: 12em;
  /* espacio arriba y para los puntitos abajo */
  overflow: hidden;
}

.slide {
  position: absolute;
  inset: 0;/*combina las cuatro propiedades de posicionamiento: top right bottom left */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  opacity: 0;
  transition: transform .8s ease, opacity .8s ease;
}

.disponible {
  display: block;
}

.no-disponible {
  display: none;
}

.texto-slide{
  font-style: normal;
  letter-spacing: 1px;
  font-size: 1.5em;
}

.autor {
  margin-top: 22px;
  font-style: normal;
  letter-spacing: 1px;
  font-size: .7rem;
}

.puntitos {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.punto {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #8e8e8e;
  border: none;
  cursor: pointer;
  transition: background .3s,
    transform .3s;
}

.punto-activo {
  transform: scale(1.2);
}

.contacto-gmail {
  display: flex;
  /* para centrar contenido */
  flex-direction: column;
  /* mail arriba, texto abajo */
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 20px;
  /* espacio interno */
}

.gmail {
  font-size: 2.5em;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: #FCDA05;
  /* línea amarilla igual que Skylith */
  text-underline-offset: 8px;
  /* separa un poco la línea del texto */
  margin-bottom: 18px;
}

.texto-gmail {
  font-size: 0.8em;
  font-weight: 350;
  margin-bottom: 5px;
}

.texto-gmail-2 {
  font-size: 0.9em;
  font-weight: 350;
}

.footer {
  display: flex;
  justify-content: space-between;
  /* separa los bloques */
  align-items: center;
  /* centra verticalmente */
  padding: 40px 200px;
  font-size: 0.9em;
}

.footer a {
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s;

}

.footer a:hover {
  color: white;
}

.go-to-top {
  align-items: center;
  /* centra verticalmente */
  justify-content: center;

}

/* Íconos */
.iconos-redes i {
  display: flex;
  gap: 15px;
  /* separación entre íconos */
}

.iconos-redes a i {
  font-size: 1.1em;
}

.icono-twitter a:hover i {
  color: #1da1f2;
}

.icono-facebook a:hover i {
  color: #1877F2;
}

.icono-dribbble a:hover i {
  color: #ea4c89;
}

.icono-instagram a:hover i {
  color: #d62976;
}

.icono-behance a:hover i {
  color: #0057FF;
}


/* PORTFOLIO */

.encabezado-logo{
  width: 100%;
  height: 20vh;
}

.iconos-redes ul {
  list-style: none;
  display: flex;
  gap: 1.5em;
  /* separación entre iconos */
  margin: 0;
  padding: 0;
}

.iconos-redes i {
  font-size: 1.2em;
  transition: color 0.3s ease;
  cursor: pointer;
}

.fa-solid {
  transition: color 0.3s ease;
  font-size: 1.5em;
}

.fa-solid:hover {
  color: #FCDA05;
}

.fin-galeria {
  display: flex;
  justify-content: center;
  /* centra horizontalmente */
  align-items: center;
  /* centra verticalmente */
  width: 100%;
  height: 7em;
}

.fin-portfolio {
  text-transform: uppercase;
  font-size: 0.9em;
}



/* BLOG */

/* Fondo completo de lado a lado */
.hero-banner-1 {
  width: 100%;
  padding: 4em 0;
  /* solo márgenes verticales */
}

/* Contenedor centrado con límite de ancho */
.hero-banner-1-inner {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 2em;
  /* margen interno lateral */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* ---- Título ---- */
.titulo-patrick {
  font-family: "Work Sans", sans-serif;
  font-size: 1.8em;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.titulo-patrick:hover {
  color: #FCDA05;
}

/* ---- Categoría ---- */
.Uncategorized a {
  font-family: "Work Sans", sans-serif;
  font-size: 0.8em;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.Uncategorized a:hover {
  color: #515151;
}

/* ---- Texto ---- */
.texto-patrick {
  max-width: 700px;
  line-height: 1.6;
  font-family: "Work Sans", sans-serif;
  font-size: 0.8em;
  margin-bottom: 1.5em;
}

/* ---- Botón ---- */
.read-more-1 {
  display: inline-block;
  padding: 15px 25px;
  border: 2px solid #ffffff;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  font-size: 0.9em;
  text-transform: uppercase;
  transition: 0.3s ease;
}

.read-more-1:hover {
  background-color: #FCDA05;
  border-color: #FCDA05;
  color: #181818;
}


/* -------- ABOUT -------- */
.about-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0 60px;
}

.about-intro-text {
  width: 70%;
  max-width: 900px;
  font-family: "Work Sans", sans-serif;
  margin: 0 auto;
  text-align: left;
}

.about-intro-text h2 {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
  font-size: 37.5px;
  margin-bottom: 40px;
  /* espacio entre título e imagen */
}

.primera-imagen-about {
  background-size: cover;     /* hace que se vea bien */
  background-position: center; 
  width: 85%;
  height: 100vh;   
  margin: 0 auto;
}

.about-hero {
  background: #101010;
  padding: 30px 170px 20px 170px;
  text-align: left;
}

.about-hero__inner h3 {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.3;
  font-size: 2.5em;
}

.about-hero__inner p {
  display: block;
}

.about-texto {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.about-texto p {
  width: 48%;
  /* cada párrafo ocupa 48% del ancho */
  font-size: 1em;
  line-height: 1.3;
  font-weight: 350;
}

.about-descripcion {
  font-family: "Work Sans", sans-serif;
  padding: 50px 0px;
}

.about-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 5em;
  gap: 60px;
}

.about-logos img {
  width: 120px;
}

.about-hire {
  position: relative;
  width: 100%;
  height: 23em;
  padding: 120px 170px 20px 170px;
  text-align: left;
}

.about-hire h2 {
  text-transform: uppercase;
  font-family: "apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-bottom: 40px;
  font-size: 2.3em;
  font-weight: 600;
}

.hire-boton {
  position: absolute;
  border: 2px solid #FCDA05;
  padding: 60em;
  text-decoration: none;
  font-weight: 600;
  padding: 15px 40px;
  /*padding del rectangulo */
  text-transform: uppercase;
  transition: background .3s;
}

.hire-boton:hover {
  color: white;
  background-color: #101010;
  border: 2px solid white;
}

.mapa-contacto {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.mapa-contacto iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

#contact-info {
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 80px 60px;
  gap: 60px;
}

.data-form {
  flex: 1 1 45%;
}

.data-form h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.data-form p {
  font-weight: 300;
  font-size: 0.9em;
  margin-bottom: 20px;
}

.data-contact p {
  margin: 8px 0;
}

.contact-negrita {
  font-weight: 600;
}

.contact-sin-negrita {
  font-weight: 300;
}

.caja-formulario {
  flex: 1 1 45%;
  align-items: center;
}

.formulario {
  width: 100%;
}

.campo-input {
  width: 100%;
  padding: 1em;
  margin-bottom: 1.5em;
  border: 1px solid #515151;
  font-size: 1em;
}

.campo-input-message{
  width: 100%;
  height: 30vh;
  padding: 1em;
  margin-bottom: 2em;
  border: 1px solid #515151;
  font-size: 1em;
}

.boton-formulario {
  width: 35%;
  padding: 1.3em;
  font-size: 0.8em;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}

.boton-formulario:hover{
  background-color: #515151;
}

@media (max-width: 768px) {
  #contact-info {
    flex-direction: column;
    padding: 40px 20px;
  }
}

/*articulo1-blog*/
figure.cont-centrado img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  margin-bottom: 2em;
}
.section-art1 h1 {
  margin-bottom: 1em;
}
.segundop{
  font-style: italic;
  font-weight: 400;
  font-size: 1.25em;
}

.section-art1 p, .section-art2 p {
line-height: 1.5em;
}

.p{
  font-weight: 200;
  font-size: 1em;
}

.dos-imagenes {
  display: flex;
  gap: 1.5rem; 
  margin-top: 2rem;
}

.dos-imagenes figure {
  flex: 1; /* cada figure ocupa 50% */
  margin-bottom: 2em;
}

.dos-imagenes img {
  height: 400px; 
  object-fit: cover;
}

.article-art2 h2{
margin-bottom: 2em;
text-align: left;
}

.redes-caja {
  display: flex;
  margin-top: 2rem;
}

.btn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  padding: 1.75em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-size: 0.75em;
}

.btn.facebook {
  background-color: #3b5998;
}

.btn.twitter {
  background-color: #1DA1F2;
}

.btn.pinterest {
  background-color: #bd081c;
}

.linea-gris {
  width: 100%;
  height: 2px;
  background-color: #2a2a2a;
  margin: 3rem 0 2rem 0; /* arriba | derecha | abajo | izquierda */
}

.section-comentarios {
  padding: 2em;
}

.comment-fila {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
}

.comment-foto img {
  height: 100px;
  object-fit: cover;
}

.comment-contenido {
  flex: 1;
}

.comment-header {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.8rem;
}

.comment-info {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.comment-nombre {
  font-size: 0.85em;
}

.comment-fecha {
  font-size: 0.85rem;
  text-transform: uppercase;
}

.comment-reply {
  font-size: 0.85rem;
  text-decoration: none;
}

.comment-text {
  font-size: 1em;
}